/*----------------------------------------------------
                    Trabajo Final

Asignatura: Grafos y Lenguajes Formales
Sección:    413
Profesor:   Michael Cristi
Integrantes:    - Matías Urbina
                - Luis Caro
                - Jorge Gallardo
                - Felipe Vera
----------------------------------------------------*/
*{
	box-sizing: border-box;
}
body{
		background-color: white/*#232323*/;
}
.center{
		text-align: center;
}

#WH{
	width: 150px;
	text-decoration:none;
	font-weight: 600;
	font-size: 20px;
	color:#000000;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:40px;
	padding-right:40px;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

#SetValues{
	text-decoration:none;
	font-weight: 600;
	font-size: 20px;
	color:#ffffff;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:40px;
	padding-right:40px;
	background-color:green;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

#SetValues:hover{

	padding: 50;
	background: rgb(0, 189, 0);
	color:white;

}

#SetValues:active{
	padding:50;
	background: rgb(0,189,0);
	color:white
}

#EnterValues{
	text-decoration:none;
	font-weight: 600;
	font-size: 20px;
	color:#ffffff;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:40px;
	padding-right:40px;
	background-color:green;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

#EnterValues:hover{

	padding: 50;
	background: rgb(0, 189, 0);
	color:white;

}

#EnterValues:active{
	padding:50;
	background: rgb(0,189,0);
	color:white
}

#SolveMaze{
	text-decoration:none;
	font-weight: 600;
	font-size: 20px;
	color:#ffffff;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:40px;
	padding-right:40px;
	background-color:green;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

#SolveMaze:hover{

	padding: 50;
	background: rgb(0, 189, 0);
	color:white;

}

#SolveMaze:active{
	padding:50;
	background: rgb(0,189,0);
	color:white
}

#CleanSolve{
	text-decoration:none;
	font-weight: 600;
	font-size: 20px;
	color:#ffffff;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:40px;
	padding-right:40px;
	background-color:green;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

#CleanSolve:hover{

	padding: 50;
	background: rgb(0, 189, 0);
	color:white;

}

#CleanSolve:active{
	padding:50;
	background: rgb(0,189,0);
	color:white
}

#RefreshPage{
	text-decoration:none;
	font-weight: 600;
	font-size: 20px;
	color:#ffffff;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:40px;
	padding-right:40px;
	background-color:rgb(1, 162, 211);
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

#RefreshPage:hover{

	padding: 50;
	background: rgb(0, 195, 255);
	color:white;

}

#RefreshPage:active{
	padding:50;
	background: rgb(0, 195, 255);
	color:white
}